@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline-color: #74b3ff;
}

html {
  scroll-behavior: smooth;
}

.MuiButton-contained {
  background-color: #3993ff;
}

.card-bg {
  background-color: linear-gradient(45deg, #3993ff 12%, transparent 0, transparent 88%, #3993ff 0),
    linear-gradient(135deg, transparent 37%, #1a7bf2 0, #1a7bf2 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #3993ff 0, #3993ff 63%, transparent 0), #74b3ff;
}
